.WWList {
    margin: 0 auto;
    /* Centra la sección en la página */
    max-width: 100%;
    /* Asegura que no exceda el ancho de la pantalla */
    background-color: #f9f9f9;
    /* Color de fondo */
    border-radius: 8px;
    /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0.75rem;
    font-family: 'Roboto', Courier, monospace;

}

.WWList h2 {
    font-size: 24px;
    /* Tamaño de fuente del título */
    margin-bottom: 20px;
    /* Espaciado debajo del título */
    text-align: center;
    /* Alineación del texto */
}


.list_Tabla {
    width: 100%;
    /* La tabla ocupa el 100% del ancho disponible */
    border-collapse: collapse;
    /* Elimina el espacio entre celdas */
    margin-top: 10px;
    /* Espacio superior de la tabla */
    table-layout: auto;

}

.Tabla_cavezal {
    background-color: #007BFF;
    /* Color de fondo del encabezado */
    color: white;
    /* Color del texto del encabezado */
}

th,
td {
    font-size: small;
    word-wrap: break-word;
    padding: 0.1rem;
    /* Espaciado interno en celdas */
    text-align: center;
    /* Alineación del texto en celdas */
    border: 1px solid #ddd;
    
    /* Borde de las celdas */
}

.disable {
    display: none;
}

a {
    text-decoration: none;
    color: var(--primary-bg300);
    transition: all 1s ease-in;
    width: 100%;


}

a:hover {
    color: var(--primary-bg800);
}



@media screen and (min-width: 768px) {
    .WWList {
        padding: 1.2rem;
    }

    .disable {
        display: block;
    }

}